**/*.o
.vscode/

Megaphone
Phonebook
GlobalBankster

BraiiiiiiinnnzzzZ
Moar_brainz
Hi_this_is_brain
Unnecessary_violence
Harl2.0
harlFilter

My_first_canonical
My_first_util_class
Now_we_can_speak
BSP

ClapTrap
ScavTrap
Repetitive_work
Now_its_weird

Polymorphism
I_don’t_want_to_burn_the_world
Abstract_class
Interface_and_recap

Mommy_when_I_grow_up_I_want_to_be_a_bureaucrat
Form_up_maggots
