**/*.o
.vscode/

Megaphone
Phonebook
GlobalBankster

BraiiiiiiinnnzzzZ
Moar_brainz
Hi_this_is_brain
Unnecessary_violence
Harl2.0
harlFilter

My_first_canonical
My_first_util_class
Now_we_can_speak
BSP

ClapTrap
ScavTrap
Repetitive_work